{%extends "base.html"%}

{%block extrahead%}
  <title>Empleados</title>
{%endblock extrahead%}


{%block content%}
<div class="container">
  <h1>Lista de Empleados:</h1>
  {%if empleados%}
    <ul>
      <center>
        {%for empleado in empleados%}
      <li><b>Nombre: </b>{{empleado.nombre}}<br><b>Apellido: </b>{{empleado.apellido}} <br><b>Tipo de Documento: </b>{{empleado.tipo_documento.nombre_tipo}}<br> <b>Documento: </b>{{empleado.documento}}<br> <b>Ciudad: </b>{{empleado.lugar_residencia.nombre_ciudad}}<br> <b>Fecha de Nacimiento: </b>{{empleado.fecha_nacimiento}}<br> <b>Email: </b>{{empleado.email}}<br> <b>Telefono: </b>{{empleado.telefono}}<br> <b>Usuario: </b>{{empleado.usuario}}<br><b>Empresa: </b>{{empleado.empresa.nombre_empresa}}<br><br></li>
      <button type="submit" class="btn btn-danger btn-sm" id="btn-borrrar">Borrar Empleado</button><br><br>
      {%endfor%}
      </center>
      
    </ul>
    
    {%endif%}
</div>
{%endblock content%}