{%extends "base.html"%}

{%block extrahead%}
  <title>Integrantes</title>
{%endblock extrahead%}

{%block content%}
<br>
<br>
<center>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="img/img_decire.jpg" alt="" srcset="" width="220" height="200">
      <p>Decire Dayana Jaimes Rodriguez - 2211835</p>
    </div>
    <div class="col">
      <img src="img/img_diego.jpg" alt="" srcset="" width="220" height="200">
      <p>Diego Fabian Sepulveda Duran - 2210063</p>
    </div>
  </div>
</div>
</center>
{%endblock content%}
  </div>