{%extends "base.html"%}

{%block extrahead%}
  <title>Integrantes</title>
{%endblock extrahead%}

{%block content%}
<br>
<br>
<center>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AITFw-waTaNcMDKLy56r7b_ce5QOgZwFNtOvuFbljcDiNXCIWt9pD9L8P1gc-r_nHK1uHKMVJfaRItmhdOYjFi_iMxcKi3bFeg=s2560" alt="" srcset="" width="220" height="200">
      <p>Decire Dayana Jaimes Rodriguez - 2211835</p>
    </div>
    <div class="col">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AITFw-wM5J952pzfwhpknHVwJg-Gt7BkAFPUix6RMxl_n9Ptp_hkksVkJbHiGmtK0TLeJIFFB4PgKjJrHRxTUhcYi-mkp8qfyg=s2560" alt="" srcset="" width="220" height="200">
      <p>Diego Fabian Sepulveda Duran - 2210063</p>
    </div>
  </div>
</div>
</center>
{%endblock content%}
  </div>