<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  {% block extrahead %}
  {% endblock extrahead %}
  <title>Document</title>
</head>
<body>
  
  {%block navbar%}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{%url 'home'%}" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empresas</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{%url 'empresas'%}" class="dropdown-item">Explorar Empresas</a></li>
              <li><a href="{%url 'new_Empresa'%}" class="dropdown-item">Crear Empresas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{%url 'ciudades'%}" class="nav-link">Ciudades</a>
          </li>
          <li class="nav-item">
            <a href="{%url 'tiposDocumento'%}" class="nav-link">Tipos de Documento</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empleados</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{%url 'empleados'%}" class="dropdown-item">Explorar Empleados</a></li>
              <li><a href="{%url 'new_Empleado'%}" class="dropdown-item">Crear Empleados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{%url 'integrantes'%}" class="nav-link" aria-current="page">Integrantes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {%endblock navbar%}

  {%block content%}
  {%endblock content%}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  {%block scripts%}
  {%endblock scripts%}

</body>
</html>